{% extends 'base.html' %}

{% block content %}

  <div class="container mb-4">
      <div class="mb-4">
        <form class="form" method="post" autocomplete="off">
          {% csrf_token %}
            <div class="form-group">
                <label for="username"> E-mail </label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password"> Senha </label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <input type="submit" class="btn btn-success" value="Fazer Login">
        </form>
      </div>
  </div>

{% endblock %}
