{% extends '../base.html' %}

{% block title %} Users {% endblock %}

{% block content %}

  <div class="container">
    {% if user.is_authenticated %}
        <div class="alert alert-primary" role="alert">
            Seja bem-vindo(a), {{ user.name }}
            <a href="{% url 'authenticate:logout' %}" class="btn btn-primary">
                Logout
            </a>
        </div>
        <ul class="list-group">
            {% for u in users %}
              <li class="list-group-item">
                  <p class="lead text-center">
                      {{ u.name }} - {{ u.email }}
                  </p>
              </li>
            {% endfor %}
        </ul>
    {% else %}
        <a href="{% url 'authenticate:login' %}" class="btn btn-primary">
            Login
        </a>
    {% endif %}
  </div>

{% endblock %}
